@charset "UTF-8";
@media screen and (min-width: 308px) {
    header{
        height: 370px;
    }
    footer{
        width: 95vw;
        margin-left:  8px;
    }
}

@media screen and (min-width: 768px) {
    header{
        height: 368px;
    }
}
@media screen and (min-width: 996px) {
    header{
        height: 450px;
    }
}
@media screen and (min-width: 1024px) {
    header{
        height: 359px;
    }
}
@media screen and (min-width: 1200px) {
    header{
        height: 369px;
    }
}